<div style="display: flex; align-items: center; justify-content: center; margin:15px;">
  <a class="btn btn-flat" href="/tasks/new">☺♪☺ Nouvelle tache ☺♪☺ </a>
</div>
<div class="cards">
  <%@tasks.each do |task|%>
    <% if task.user.id == current_user.id%>
        <%type_of_card = rand(1..2)%>
        <%if type_of_card == 1%>
          <div class="card 1">
            <div class="card_image">
              <img src="https://images.unsplash.com/photo-1516557070061-c3d1653fa646?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
            </div>
              <div class="card_title">
              <p><%= task.title%></p>
              <% if task.status == true %>
              <%elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) < 0 %>
                <p style="color:red; font-weight:bold;"> Too late, the deadline was <%= (Date.today.to_time.to_i/86400)-(task.deadline.to_time.to_i/86400)%>d ago</p>
              <% elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) == 0 %>
                <p style="color:red; font-weight:bold;"> Vite la deadline est aujourd'hui !!!</p>
              <%elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) < 3%>
                <p style="color:red; font-weight:bold;"><%= task.deadline%></p>
              <% elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) < 7 %>
                <p style="color:orange; font-weight:bold;"><%= task.deadline%></p>
              <% elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) < 15 %>
                <p style="color:yellow; font-weight:bold;"><%= task.deadline%></p>
              <% else %>
                <p style="color:green; font-weight:bold;"><%= task.deadline%></p>
              <% end %>
              <% if task.priority_order == "TOP PRIO" %>
                <p style="color:red;"><%= task.priority_order%></p>
              <% elsif task.priority_order == "HIGH PRIO" %>
                <p style="color:#FF6347;"><%= task.priority_order%></p>
              <% elsif task.priority_order == "MEDIUM PRIO" %>
                <p style="color:orange;"><%= task.priority_order%></p>
              <% elsif task.priority_order == "TO DO" %>
                <p style="color:yellow;"><%= task.priority_order%></p>
              <% elsif task.priority_order == "NOT SO IMPORTANT" %>
                <p style="color:#8CE88C;"><%= task.priority_order%></p>
              <% else %>
                <p style="color:#F7329C;"><%= task.priority_order%></p>
              <% end %>
              <% if task.status == false%>
                <p>Status: à faire</p>
              <%else%>
                <p>Status: Done</p>
              <% end %>
              <p><%= link_to 'Modifier la tâche', edit_task_path(task), class:"btn-ghost", style:"text-decoration:none;" %></p>
              <p><%= link_to 'Commentaires', task_comments_path(task), class:"btn-ghost", style:"text-decoration:none;" %></p>
              <p><%= link_to "Archiver la tâche", {:controller => :tasks, :action => 'destroy', :id => task.id }, :method => :delete, class:"btn-ghost", style:"margin-top:15px;" %></p>
            </div>
          </div>
        <%elsif type_of_card == 2%>
          <div class="card 2">
            <div class="card_image">
              <img src="https://images.unsplash.com/photo-1526655805340-274e69922288?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" />
            </div>
            <div class="card_title">
              <p><%= task.title%></p>
              <%if (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) < 0 %>
                <p> Too late, the deadline was <%= (Date.today.to_time.to_i/86400)-(task.deadline.to_time.to_i/86400)%>d ago</p></p>
              <% elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) == 0 %>
                <p> Vite la deadline est aujourd'hui !!!</p>
              <%elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) < 3%>
                <p style="color:red; font-weight:bold;"><%= task.deadline%></p>
              <% elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) < 7 %>
                <p style="color:orange; font-weight:bold;"><%= task.deadline%></p>
              <% elsif (task.deadline.to_time.to_i/86400)-(Date.today.to_time.to_i/86400) < 15 %>
                <p style="color:yellow; font-weight:bold;"><%= task.deadline%></p>
              <% else %>
                <p style="color:green; font-weight:bold;"><%= task.deadline%></p>
              <% end %>
              <% if task.priority_order == "TOP PRIO" %>
                <p style="color:red;"><%= task.priority_order%></p>
              <% elsif task.priority_order == "HIGH PRIO" %>
                <p style="color:#FF6347;"><%= task.priority_order%></p>
              <% elsif task.priority_order == "MEDIUM PRIO" %>
                <p style="color:orange;"><%= task.priority_order%></p>
              <% elsif task.priority_order == "TO DO" %>
                <p style="color:yellow;"><%= task.priority_order%></p>
              <% elsif task.priority_order == "NOT SO IMPORTANT" %>
                <p style="color:#8CE88C;"><%= task.priority_order%></p>
              <% else %>
                <p style="color:#F7329C;"><%= task.priority_order%></p>
              <% end %>
              <% if task.status == false%>
                <p>Status: à faire</p>
              <%else%>
                <p>Status: Done</p>
              <% end %>
              <p><%= link_to 'Modifier la tâche', edit_task_path(task), class:"btn-ghost", style:"text-decoration:none;" %></p>
              <p><%= link_to 'Commentaires', task_comments_path(task), class:"btn-ghost", style:"text-decoration:none;" %></p>
              <p><%= link_to "Archiver la tâche", {:controller => :tasks, :action => 'destroy', :id => task.id }, :method => :delete, class:"btn-ghost", style:"margin-top:15px;" %></p>
            </div>
          </div>
        <% else%>
        <% end%>
    <%else%>
    <%end%>
  <%end%> 
</div>

