<h1>page de creation d'une nouvelle task</h1>

<%= simple_form_for @task do |f| %>
    <%= f.input :title, label: "titre de la tâche"%>
    <%= f.input :deadline, label: "deadline" %>
    <%= f.input :status, label: "status" %>
    <%= f.input :priority_order, collection: Task::PRIORITY  %>
    <%= f.button :submit, class: "button-user" %>
<%end%>