<!DOCTYPE html>
<html>
  <head>
    <title>TestTechnique</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/josephlarue"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/jozyjozyjozyjozy/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Joseph.Robert.Michel.Larue/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/joseph-larue-b05b84136/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Joseph's
  </div>
</div>
</html>
